button{
  box-shadow: 0 0 5px #0B6EFD;
  background-color: #6B4DE6 !important;
}
.logo h3{
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;  
  color: var(--color-primary);  
}