<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-5">
      <div class="row">
        <div class="col rounded-2 shadow">
          <h3 class="m-4 fw-normal text-center">Registra un nuovo account o Accedi</h3>
          <div class="d-flex flex-column button-container">
            <button class="btn btn-primary m-2 my-4" [routerLink]="['/auth', 'login']">LOGIN</button>
            <button class="btn btn-primary m-2 mt-2 mb-4" [routerLink]="['/auth', 'register']">SIGNUP</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
