
    <div class="card" style="width: 15rem;">
        <img src="https://img.iltempo.it/images/2023/06/12/190258162-86ab5ef4-1575-437f-8790-11948e803a0f.jpg" alt="Berlusca ">
        <div class="card-body bg-primary">
        <h5 class="card-title">Politica</h5>
        <p class="card-text">Politica: il nostro cavaliere viene a mancare </p>
        <a href="#" class="btn btn-primary">more...</a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="https://img.iltempo.it/images/2023/06/12/190258162-86ab5ef4-1575-437f-8790-11948e803a0f.jpg" alt="Berlusca ">
        <div class="card-body bg-warning">
        <h5 class="card-title">Politica</h5>
        <p class="card-text">Politica: il nostro cavaliere viene a mancare </p>
        <a href="#" class="btn btn-primary">more...</a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="https://img.iltempo.it/images/2023/06/12/190258162-86ab5ef4-1575-437f-8790-11948e803a0f.jpg" alt="Berlusca ">
        <div class="card-body bg-primary">
        <h5 class="card-title">Politica</h5>
        <p class="card-text">Politica: il nostro cavaliere viene a mancare </p>
        <a href="#" class="btn btn-primary">more...</a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="https://img.iltempo.it/images/2023/06/12/190258162-86ab5ef4-1575-437f-8790-11948e803a0f.jpg" alt="Berlusca ">
        <div class="card-body bg-primary">
        <h5 class="card-title">Politica</h5>
        <p class="card-text">Politica: il nostro cavaliere viene a mancare </p>
        <a href="#" class="btn btn-primary">more...</a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="https://img.iltempo.it/images/2023/06/12/190258162-86ab5ef4-1575-437f-8790-11948e803a0f.jpg" alt="Berlusca ">
        <div class="card-body bg-primary">
        <h5 class="card-title">Politica</h5>
        <p class="card-text">Politica: il nostro cavaliere viene a mancare </p>
        <a href="#" class="btn btn-primary">more...</a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="https://img.iltempo.it/images/2023/06/12/190258162-86ab5ef4-1575-437f-8790-11948e803a0f.jpg" alt="Berlusca ">
        <div class="card-body bg-primary">
        <h5 class="card-title">Politica</h5>
        <p class="card-text">Politica: il nostro cavaliere viene a mancare </p>
        <a href="#" class="btn btn-primary">more...</a>
        </div>
    </div>
