<form>
  <h3 class="my-3 fw-normal text-center">Create a new Post</h3>

  <input
    type="text"
    class="form-control my-2"
    name="image"
    placeholder="Image"
    [(ngModel)]="newPost.image"
  />

  <input
    type="text"
    class="form-control my-2"
    name="body"
    placeholder="Post description"
    required
    [(ngModel)]="newPost.body"
  />

  <select
    class="form-select"
    aria-label="Categoria del post"
    [(ngModel)]="newPost.category"
    name="category"
  >
    <option selected>Scegli una categoria:</option>
    <option value="Politica">Politica</option>
    <option value="Sport">Sport</option>
    <option value="Musica">Musica</option>
    <option value="Arte">Arte</option>
    <option value="News">News</option>
    <option value="Pirati">Pirati</option>
  </select>

  <button class="w-100 btn btn-lg btn-primary btn-log my-4" (click)="create()">
    Crea Post
  </button>
</form>
