<form>
  <h3 class="my-3 fw-normal text-center">Create a new Post</h3>

    <input type="text" class="form-control my-2" name="image" placeholder="Image" [(ngModel)]="newPost.image">

    <input type="text" class="form-control my-2" name="body" placeholder="Post description" required [(ngModel)]="newPost.body">

    <select class="form-select" aria-label="Categoria del post">
      <option selected> Scegli una categoria:</option>
      <option value="1">Politica</option>
      <option value="2">Sport</option>
      <option value="3">Musica</option>
      <option value="4">Arte</option>
      <option value="5">News</option>
      <option value="6">Pirati</option>

    </select>



  <button class="w-100 btn btn-lg btn-primary btn-log my-4" (click)="create()">Crea Post</button>
</form>

